/* GENERAL STYLES */

body {
    background-color: oldlace;
    border: solid 2px blue;
}

.container {
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */

#headerSection {
    border: solid 2px red;
    height: 57.97vh;
    background-color: #2c2c2c;
    color: white;
}

#headerBtn {
    border: 1px solid white;
}

/* SECTION 1 STYLES */

#section1 {
    border: solid 2px magenta;
    height: 27vh;
    background-color: #eaeaea;
}