/* GENERAL STYLES */

body {
    background-color: oldlace;
}

.container {
    margin: 0;
    padding: 0;
}

/* HEADER STYLES */

#headerSection {
    height: 57.97vh;
    background-color: #2c2c2c;
    color: white;
}

#headerBtn {
    border: 1px solid white;
}

/* SECTION 1 STYLES */

#section1 {
    height: 27vh;
    background-color: #eaeaea;
    overflow: scroll;
}

/* SECTION 2 STYLES */

.HTMLsection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2 {
    height: 65vh;
    background-color: #2c2c2c;
}

.column {
    padding: 0;
    margin: 1vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 30vh;
}

.cardContainer {
  padding: 2px 16px;
  text-align: center;
  margin-top: 1vh;
}

/* SECTION 3 STYLES */

#section3 {
    height: 35vh;
    background-color: #eaeaea;
    color: white;
    display: flex;
}

.colSize {
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    min-height: 100%;
    justify-content: center;
}

#section3_left {
    background-color: #2590d4;
}

#section3_right {
    background-color: #999999;
}

.parragraphSection3 {
    min-height: 100px;
}



/* FOOTER STYLES */

#footer {
    background-color: #2c2c2c;
    color: white;
}

div.column.colSize {
    margin: 0;
}

#footer p {
    margin-bottom: 3vh;
    margin-top: 3vh;
}

/* MEDIA QUERIES FOR TABLET - 768px SCREENS */

@media (max-width: 768px) {
    .column:nth-child(3) {
        display: none;
    }

    body {
        font-size: 16px;
    }
}

/* MEDIA QUERIES FOR PHONE - 380px SCREENS */

@media (max-width: 380px) {
    .column:nth-child(2) {
        display: none;
    }

    body {
        font-size: 12px;
    }
}